.bienvenida {
    font-size: 24px;
    margin-top: 20px; /* Espacio superior */
}

.img-fluid {
    max-width: 100%; /* Ajustar imagen al ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
    margin-top: 20px; /* Espacio superior */
}
